@page "{id:int?}"
@model RazorPages_EventMaker.Pages.Events.IndexModel
@{
    ViewData["Title"] = "index";
}

<h1>List of Events</h1>
<p>
    <a asp-page="CreateEvents"> Create New Event</a>
</p>

<form method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Description</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.City</td>
                    <td>@item.Description</td>
                    <td>@item.DateTime</td>
                    <td>
                        <a asp-page="EditEvent" asp-route-id="@item.Id">Edit</a>
                        <button class="btn btn-danger" type="submit" asp-page-handler="delete"
                                asp-route-id="@item.Id">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
